body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 37px;
    padding: 23px;

}

#primary-links{
    height:34px;

    font-size: 20px;

    padding-bottom: 55px;

}
li{
    display:inline;
    border-right: 1px solid;
}
#primary-links li{
    display:inline;
    border-right: 1px solid;

}

#primary-links ul{
    padding:0;
    margin:0;
}

#main{
    margin-left: auto;
    margin-right: auto;
    width:960px;
}

#content{
    max-width: 684px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    float: left;
    font-size: 16px;
    line-height: 27px;
}
